aiodns
aiosignal
async_timeout
asynctest
attr
brotli
cchardet
charset_normalizer
frozenlist
gunicorn
idna_ssl
ipython
multidict
numpy
Pillow
pytest
python-dotenv
python-telegram-bot
setuptools
scikit-image
torch
typing_extensions
uvloop
webuiapi
xxtea
yarl
mysql-connector-python
ipython
matplotlib
argparse
discord
googletrans==4.0.0-rc1
pycryptodome

